$textcolor: #D3B259;
$goldenrod: #D3B259;
$lannisterbrown: brown;


body {
  background-color: $textcolor;


  }

.headerwords {
  font-family: 'Cinzel', serif;
  font-weight: "48px"; /* 3/16 */
  font-size: 45px; /* 45/16 */ /* 2.813/16 */
  color: $textcolor;
  text-align: center;
  display: inline;
}

ul {
  list-style: none; }


.wrapper {
margin-left: 25%;
margin-right: 30%;
height: 550px; /* 350/16 */ /* 21.875/16 */
overflow-y: hidden;
display: block;
 }

.commandBar {
  height: 150px; /* 150/16 */ /* 9.375/16 */
  width: 100%;
  border: 3px solid $goldenrod; /* 3/16 */ /* 0.188/16 */
  color: white;
background-color: $lannisterbrown;
margin-top: -50px; /* 150/16 */ /* 9.375/16 */
 }

.entry {
  color: white;
  border: 1px solid $goldenrod; /* 1/16 */ /* 0.063/16 */
  border-radius: 5px; /* 5/16 */ /* 0.313/16 */
  width: 500px; /* 500/16 */ /* 31.25/16 */
  }

  .tyrionIcon {
    height: 80px; /* 80/16 */ /* 5/16 */
    width: 80px; /* 80/16 */ /* 5/16 */
  }
  .userIcon {
    height: 90px; /* 90/16 */ /* 5.625/16 */
    width: 90px; /* 90/16 */ /* 5.625/16 */
  margin-left: 320px; } /* 20/16 */

.image {
  height: 80px; /* 60/16 */ /* 3.75/16 */
  width: 80px; /* 60/16 */ /* 3.75/16 */
  margin-left: 30px; /* 30/16 */ /* 1.875/16 */
  display: inline;
  border:1px solid lime;
}

  .userEntry {
    margin-left: 20%;
    width: 300px; /* 300/16 */ /* 18.75/16 */
    background-color: $lannisterbrown;
    border-radius: 5px; /* 5/16 */ /* 0.313/16 */
    padding-top: 5px; /* 10/16 */ /* 0.625/16 */
    padding-left: 10px; /* 10/16 */ /* 0.625/16 */
    margin-bottom: 45px; /* 20/16 */ /* 1.25/16 */
  }

  .tyrionResponse {
    margin-right: 25%;

    width: 350px; /* 350/16 */ /* 21.875/16 */
    background-color: $goldenrod;
    border-radius: 5px; /* 5/16 */ /* 0.313/16 */
    border: 2px solid $lannisterbrown; /* 2/16 */ /* 0.125/16 */
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .tyrionText {
    color: $lannisterbrown;
    font-size:13px; /* 13/16 */ /* 0.813/16 */
    display: inline-block;
    width: 250px; /* 250/16 */ /* 15.625/16 */
    margin-top: 5px; /* 5/16 */ /* 0.313/16 */
    float: right;
    padding-bottom: 15px; /* 15/16 */ /* 0.938/16 */
  }

  a{
    text-decoration: none;
    color: $lannisterbrown;
  }

  .userText {
    color: $goldenrod;
    font-size:15px; /* 15/16 */ /* 0.938/16 */
    display: inline;
    margin-top: 10px; /* 10/16 */ /* 0.625/16 */
    vertical-align: middle;

  }

  .dragonIcon{
    height: 90px; /* 90/16 */ /* 5.625/16 */
    width: 60px; /* 60/16 */ /* 3.75/16 */
    display: inline;
    color: $lannisterbrown;
    float: left;
  }

  .command {
height: 25px; /* 50/16 */ /* 3.125/16 */
width: 400px; /* 400/16 */ /* 25/16 */
margin-left: 375px;
color: $lannisterbrown;
background-color: $goldenrod;
margin-top: 12px;
  }

  .submitButton {
    height: 25px; /* 50/16 */ /* 3.125/16 */
    width: 100px; /* 100/16 */ /* 6.25/16 */
    background-color: $goldenrod;
    border-radius: 5px;
    color: $lannisterbrown;
  }

  .topBorder
  {
    width: 100%;
    height: 100px; /* 50/16 */ /* 3.125/16 */
    background-color: $lannisterbrown;
  }

  .headerBar {
    margin-left:350px; /* 350/16 */ /* 21.875/16 */
  }
